body {
  background-image: url(assets/dark-spade.png);
  background-position: center center;
  background-attachment: scroll;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.514);
}
#user-img {
  width: auto;
  height: auto;
  max-width: 600px;
  max-height: 300px;
}
#main-container {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 30px;
  margin-left: 30px;
}
#user-form {
  padding-top: 30px;
}
.form-control {
  max-width: 500px;
}
h1,
h5 {
  padding-bottom: 15px;
}
.progress-bar {
  width: 80%;
}
