body {
    background-image: url(assets/dark-spade.png);
    background-position: center center;
  background-attachment: scroll;
  }
  
  body:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.514);
  }

#numeros{
    height: 70px;
    padding-top: 5px;
}
#pregunta{
    margin-bottom: 50px;
}
#ans{
    width: 100px;
}
.card{
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.452);
    color: white;
    
}