body {
  background-image: url(assets/dark-spade.png);
  background-position: center center;
  background-attachment: scroll;
}
body:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.514);
}
