@media (max-width: 480px) {
  .card-deck {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }
  #btn-container {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .card-deck {
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  #btn-container {
    padding-left: 50px;
    padding-top: 15px;
  }
}
.card {
  background-color: rgba(21, 168, 194, 0.692);
  padding-top: 15px;
  padding-bottom: 15px;
}
#tittle {
  padding-top: 50px;
  color: white;
}
.card-img-top {
  width: 100px;
  height: 100px;
}
html,
body {
  height: 100%;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
