body {
  background-image: url(assets/dark-spade.png);
  background-position: center center;
  background-attachment: scroll;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.514);
}
.card {
  background-color: rgba(21, 168, 194, 0.692);
  padding-top: 15px;
  padding-bottom: 15px;
}
.card-deck {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}
#btn-container {
  padding-left: 50px;
  padding-top: 15px;
}
#title {
  padding-top: 50px;
}
.card-img-top {
  width: 100px;
  height: 100px;
}
